@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

.container {
  /* padding: 0 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background: radial-gradient(ellipse farthest-corner at left top, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 5s ease-in-out infinite; */
  /* background-size: 300% 200%; */
}

.about{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: row;
}


.col1{
  background-color: slateblue;
  height: 100%;
  width: 50%;
}

.col2{
  background-color: gray;
  height: 100%;
  width: 50%;
}

.row1{
  background-color: aqua;
  height: 17%;
}

.row2{
  background-color: lightblue;
  height: 75%;
}

.row3{
 background-color: beige;
 height: 8%;
}
