@import url('https://fonts.googleapis.com/css2?family=Notable');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cta{
  height: 80%;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-top: 3rem;
}


.row1{
  height: 8%;
  width: 100%;
  flex-direction: column;
}

.title{
  width: 100%;
  font-size: var(--section-title);
  color: blue;
  font-weight: bolder; 
  font-family: 'Notable';
}

.row2{
  height: 15%;
  width: 100%;
  font-size: var(--section-sub-title);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row3{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  width: 30%;
  height: 100%;
}

.line2{
  width: 100%;
  border-color: var(--tertiary);
}


.socials{
  width: 30%;
  height: 100%;
}

.form{
  width: 90%;
  height: 100%;
  font-size: var(--section-links);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formEmail{
  display: flex;
  flex-direction: column;
}

.formEmail input{
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: transparent;
  border-bottom: 0.13rem solid var(--tertiary);  
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.formSubject{
  display: flex;
  flex-direction: column;
}

.formSubject input{
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: transparent;
  border-bottom: 0.13rem solid var(--tertiary);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.formMessage{
  display: flex;
  flex-direction: column;
}

.formMessage textarea{
  min-height: 3.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  background-color: transparent;
  border-bottom: 0.13rem solid var(--tertiary);  
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.formMessage input{
  width: 80%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.socialsTitle {
  font-size: var(--section-sub-title);
  font-weight: bolder;
  color: var(--tertiary);
  font-family: 'Notable';
}
.socialsTitle2 {
  font-size: var(--section-sub-title);
  font-weight: bolder;
  color: var(--tertiary);
}
.formSubmit{
  width: 50%;
  height: 15%;
  background-color: var(--tertiary);
  margin-top: 0.5rem;
  color: var(--primary);
  border-radius: 0.4rem;
  transition: background-color 200ms linear;
  border: none;
  cursor: pointer;
  font-family: 'Baloo 2';
  font-size: calc(var(--section-title)/2);
}

/* .formSubmit:hover{
  background-color: red;
  transition: background-color 200ms linear;
} */

.socialsLink {
  margin-top: 0.5rem;
  font-size: var(--section-links);
  margin-bottom: 0;
}


@media only screen and (min-width: 320px){

}

@media only screen and (min-width: 375px){

 }

 @media only screen and (min-width: 425px){

 }

 @media only screen and (min-width: 768px){
  .cta{
    margin-top: 0;
    height: 90%;
    justify-content: flex-end;
  }


  .row1{
    display: flex;
    flex-direction: row;
  }

  .title{
    width: 40%;
    margin:0;
    font-size: var(--section-sub-title);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .line2{
    width: 60%;
    padding: 0;
    margin: 0;
    height: 1%;
    position: relative;
    top: 50%;
  }

  .row2{
    font-size: var(--section-title);
    height: 30%;
  }

  .row3{
    flex-direction: row;
  }
  .socials{
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .socialsTitle2{
    display: none;
  }
  .form{
    padding-top: 2rem;
  }
  .formSubmit{
    width: 30%;
    height: 10%;
  }
 }

 @media only screen and (min-width: 1024px){
  .cta{
    margin-top: 0;
    height: 90%;
    justify-content: flex-end;
  }

  .row1{
    display: flex;
    flex-direction: row;
  }

  .title{
    width: 35%;
    margin:0;
    font-size: var(--section-sub-title);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .line2{
    width: 65%;
    padding: 0;
    margin: 0;
    height: 1%;
    position: relative;
    top: 50%;
  }

  .row2{
    font-size: var(--section-title);
    height: 30%;
  }

  .row3{
    flex-direction: row;
  }
  .socials{
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .socialsTitle2{
    display: none;
  }
  .form{
    padding-top: 2rem;
  }
  .formSubmit{
    width: 30%;
    height: 12%;
  }
 }

 @media only screen and (min-width: 1440px){
  .cta{
    margin-top: 0;
    height: 90%;
    justify-content: flex-end;
  }


  .row1{
    display: flex;
    flex-direction: row;
  }

  .title{
    width: 25%;
    margin:0;
    font-size: var(--section-sub-title);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .line2{
    width: 75%;
    padding: 0;
    margin: 0;
    height: 1%;
    position: relative;
    top: 50%;
  }

  .row2{
    font-size: var(--section-title);
    height: 30%;
  }

  .row3{
    flex-direction: row;
  }
  .socials{
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
  }
  .socialsTitle2{
    display: none;
  }
  .form{
    padding-top: 2rem;
  }
  .formSubmit{
    width: 30%;
    height: 12%;
  }
 }
 
 .interacting{
  height: 10rem !important;
  width: 10rem !important;
}