@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

.container {
  /* padding: 0 2rem; */
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  /* background: radial-gradient(ellipse farthest-corner at left top, black, black, gold, gold);
  animation: gradient 25s ease-in-out infinite; */
  background-size: 300% 200%;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.container::-webkit-scrollbar { 
  display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}