@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-height: 0;
  background: radial-gradient(ellipse farthest-corner at left top, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 5s ease-in-out infinite;
  background-size: 300% 200%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.bgshape{
  background: radial-gradient(ellipse farthest-corner at left top, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* background-color: black; */
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: 35vw;
  height: 70vh;
  /* bottom: 15em; */
  /* width: 80%;
  height: 90%; */
  animation: gradient 5s ease-in-out infinite;
  background-size: 300% 200%;
  animation-delay: 1s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.footer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  font-family: 'Merriweather';
}

.pretitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  color: white;
  font-family: 'Merriweather';
}

.subtext{
  display: block;
  color: white;
  font-family: 'Merriweather';
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  margin-top: 1.5em;
  /* flex-direction: column; */
}

.title,
.description {
  text-align: center;
}

.enterbutton{
  position: absolute;
  display: block;
  bottom: 0.7em;
  animation: fadeInDown 4s ease-in-out  infinite;
  animation-delay: 1s;
}

.enterbutton2{
  position: absolute;
  display: block;
  bottom: 0.2em;
  animation: fadeInDown 4s ease-in-out  infinite;
  animation-delay: 2s;
}

@keyframes fadeInDown{
  20%{
    opacity: 0;
   
  }
  30%,100% {
    opacity: 1;
   
  }
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.footicon{
  padding: 0;
  margin: 0;
}

.circle{
  background-color: red;
  width: 0.3em;
  height: 0.3em;
  position: absolute;
  left: 0;
  top: 0;
}