@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css2?family=Raleway');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.banner{
  height: 50%;
  width: 70%;
}

.row1{
  /* background-color: aqua; */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3.5rem;
  color: gold;
  font-family: 'Raleway';
  letter-spacing: 0.5em;
  font-weight: bolder;
  mix-blend-mode: difference;  
}

.row2{
  /* background-color: lightblue; */
  height: 50%;
  display: flex;
}

.col1{
 /* background-color: beige; */
 width: 50%;
 height: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 font-size: 2rem;
 padding-left:2em;
 padding-top: 1em;
  color: gold;
  font-family: 'Raleway';
  mix-blend-mode: difference;  
}

.col2{
  /* background-color: slateblue; */
  width: 25%;
  height: 100%;
}

.line{
  width: 100%;
  border-color: gold;
  margin-top: 3.2em;
  mix-blend-mode: difference;  
}

.col3{
  /* background-color: gray; */
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding-right: 1.2em;
  padding-top: 0.5em;
  color: gold;
  font-family: 'Raleway';
  font-weight:300;
  mix-blend-mode: difference;  
}

/* Apply different styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .banner {
    width: 100%;
  }
  
  .row1 {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
  
  .col1 {
    width: 100%;
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 1.5rem;
  }
  
  .col2, .col3 {
    width: 50%;
  }
  
  .col3 {
    padding-right: 0.8em;
    padding-top: 1em;
    font-size: 1.5rem;
  }
}

/* Apply different styles for screens smaller than 480px */
@media only screen and (max-width: 480px) {
  .row1 {
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  
  .col1 {
    font-size: 1rem;
    padding-left: 0.5em;
    padding-top: 0.2em;
  }
  
  .col3 {
    font-size: 1rem;
    padding-right: 0.5em;
    padding-top: 0.5em;
  }}