.container{
  position: fixed;
  z-index: 1;
  /* background-color: red; */
  font-weight: bold;
  width: 10%;
  height: 9%;
  display: flex;
  left: 1rem;
  top: 1rem;
  justify-content: center;
  align-items: center;
  color: gold;
  mix-blend-mode: difference;
}