.container{
  position: fixed;
  z-index: 1;
  /* background-color: red; */
  width: 100%;
  font-weight: bold;
  color: white;
  height: 100%;
  display: flex;
  /* right: 1rem;
  top: 1rem; */
  justify-content: center;
  align-items: center;
  color: gold;
  /* mix-blend-mode: difference; */
}

.button{
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.menu{
  /* display: none; */
  display: flex;
  flex-direction: column;
}